{% extends "./base.html" %}
{% load static %}
{% block title %}Location{% endblock %}

{% block content %}
<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Address</h1>
        <p class="lead text-muted">Shop no 9a, Dalet barracks Complex, 1 Division HQ, Kawo, Kaduna, Nigeria</p>
        <p class="lead text-muted">Reach us on: 2348079966938</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}