{% extends "./base.html" %}
{% load static %}
{% block title %}Mission{% endblock %}
{% block content %}

<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Our Mission</h1>
        <p class="lead text-muted">to provide adequate ICT knowledge to clients of any age group and gender, in order
        to develop human capacity that are equipped with the necessary skills to thrive successfuly in any environment,
        at any time and ensuring professionalism and maintaining work etiques in a team or as individuals.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}